# Flask Backend
flask>=3.1.0
flask-cors>=5.0.1
gunicorn>=21.2.0
Werkzeug>=3.1.0

# Firebase
firebase-admin>=6.7.0
google-cloud-firestore>=2.20.1
firebase-functions>=0.1.0
functions-framework>=3.8.2

# Utilities
python-dotenv>=1.0.0
python-dateutil>=2.8.2
pytz>=2024.1
APScheduler>=3.10.4 